@charset "UTF-8";
/*todas as demais mídias*/
/* Typical Device Breackpoints
------------------------------
pequnas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
grandes telas: acima de 1200px
-------------------------------
*/
@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    h1{
        text-shadow: none;
        color: black;
    }
    main{
        #celular{
            display: none;
        }
        #tablet{
            display: none;}
        #print{
            display: block;}
        #pc{
            display: none;}
        #tv{
            display: none;}
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: url(../img/back-tablet.jpg);
    }
    #celular{
        display: none;
    }
    #tablet{
        display: block;}
    #print{
        display: none;}
    #pc{
        display: none;}
    #tv{display: none;}
    main{
        width: 550px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    body{
        background-image: url(../img/back-pc.jpg);
    }
    #celular{
        display: none;
    }
    #tablet{
        display: none;}
    #print{
        display: none;}
    #pc{
        display: block;}
    #tv{
        display: none;}   
    main{
        width: 600px;
    }    
}    
@media screen and (min-width:1200px){
    body{
        background-image: url(../img/back-tv.jpg);
    }
    #celular{
        display: none;}
    #tablet{
        display: none;}
    #print{
        display: none;}
    #pc{
        display: none;}
    #tv{
        display: block;}  
    main{
        width: 800px;
    }                
    }
